<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
</head>

<body class="bg-gradient-primary" style="background: var(--bs-gray-100)" >
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5" style="background-color: var(--bs-gray-100)">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex bg-dark" style="background: #F5FFFA;">
                    <div class="flex-grow-1 bg-register-image" style="background-image: url('/static/img/pictures/image1.jpg');"></div>
                </div>
                <div class="col-lg-7 bg-dark">
                    <div class="p-5 bg-dark">
                        <div class="text-center">
                            <h2 class="text-light mb-4">Utwórz konto!</h2>
                        </div>
                        <form action="/register" method="post" id="registrationForm">
                            <div class="row mb-3">
                                <div class="col-sm-6 col-xl-12 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="name" placeholder="Nazwa użytkownika" name="name"></div>
                            </div>
                            <div class="mb-3"><input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Adres email" name="email"></div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="password" placeholder="Hasło" name="password"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="repeatPassword" placeholder="Powtórz hasło" name="password_repeat"></div>
                            </div><button class="btn btn-primary d-block btn-user w-100 text-light" style="font-size: large;" type="button" onclick="validatePassword()">Zarejestruj się!</button>
                            <div id="messageDiv"></div>
                            <hr><a href="/oauth2/authorization/google" class="btn btn-primary d-block btn-google btn-user w-100 mb-2 border-0" role="button" style="font-size: large;"><i class="fab fa-google"></i>&nbsp; Rejestracja przez Google</a>
                            <hr>
                        </form>
                        <div class="text-center"></div>
                        <div class="text-center"><a class="small" href="http://localhost:8080/login" style="font-size: large; color: white;">Posiadasz już konto? Zaloguj się!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-white bg-dark border rounded border-0 p-4 p-md-5">
                <h2 class="fw-bold text-white mb-3">Witamy w zakładzie krawieckim!</h2>
                <p class="mb-4">Ponieżej możesz sprawdzić oferowane usługi wraz z cennikiem.</p>
                <div class="my-3"><a class="btn btn-primary btn-lg me-2 text-light" role="button" href="http://localhost:8080/price_list">Sprawdź ofertę</a>
                <a class="btn btn-light btn-lg" role="button" href="http://localhost:8080/ordersList">Sprawdź swoje zlecenia!</a>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-white bg-dark"></footer>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/theme.js"></script>
</body>
<script>

    function validateEmail(email) {

        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        return emailPattern.test(email);
    }

    function validatePassword() {

    }

</script>
<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var repeatPassword = document.getElementById("repeatPassword").value;
        var email = document.getElementById("email").value;

        if (!validateEmail(email)) {
            alert("Wprowadź poprawny adres email.");
            return false;
        }

        if (password !== repeatPassword) {
            alert("Hasła nie pasują do siebie. Proszę wprowadzić identyczne hasła.");
            return false;
        } else {

            document.getElementById("registrationForm").submit();
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var messageDiv = document.getElementById("messageDiv");
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/get_message", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    messageDiv.innerText = xhr.responseText;
                } else {
                    messageDiv.innerText = "Wystąpił błąd podczas pobierania wiadomości.";
                }
            }
        };
        xhr.send();
    });
</script>







</html>